@using EPiServer.Framework.Web.Mvc.Html
@model SearchPageViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_TwoPlusOne.cshtml";
}
@Html.Partial("_Filters", Model.Filter)

@using (Html.BeginForm(FormMethod.Post))
{
    <input type="text" tabindex="1" name="query" value ="@Model.Query" />
    <input type="submit" tabindex="2" class="btn" value="Search" />
}
@if (Model.Result != null)
{
    <p>Your search for <i> @Model.Query resulted in @Model.Result.Hits.Count hits</i></p>
    <div class="listResult">
        <ul>
            @foreach (var item in Model.Result.Hits)
            { 
                <li>
                    <h4><a href="@item.Url">@item.Title</a></h4>
                    @item.PreviewText
                </li>
            }

            
        </ul>
    </div>
}



